name: Tests 
on: [push, pull_request]
jobs:
  test:
    name: Test on ${{ matrix.os }} with Go ${{ matrix.go_version }}
    if: "!contains(github.event.commits[0].message, '[ci-skip]')"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go_version: [1.11, 1.12, 1.13]
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
    - name: Set up Go ${{ matrix.go_version }}
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go_version }}
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
    - name: Test
      run: |
        go test -race ./...